// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.votes-control{
    margin-right: 30px;
    min-width: 60px;
    text-align: center;
    color: $gray-700;
    
    span, a{
        display: block;
    }
    span{
        &.votes-count{
            font-size: 25px;
        }
        &.faborite{
            font-size: 12px;
        }
    }
    a{
        cursor: pointer;
        
        &.off, &.off:hover{
            color: $gray-500;
        }
        &.favorite{
            &.fabs, &.fabs:hover{
                color: $teal;
            }
        }
        &.vote-accept{
            color: $green;
        }
    }
    
}
